.navbar{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        z-index: 2;
        position: absolute;
        color: darkkhaki;
}

.mobile-menu{
        display: none;
}

.nav-icons .icon{
        position: absolute;
        right: 10px;
        margin-right: 25px;
        font-size: 2rem;
        cursor: pointer;
}

.icon{
        font-size: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
}

/* new codes */

/* Base Navbar styling */
.navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        background-color: transparent; /* Default background color */
        transition: background-color 0.3s ease; /* Smooth transition for background */
      }
      
      /* Active navbar background */
      .navbar-bg {
        background-color: #121B44; /* Background color when nav state is active */
      }
      
      /* Icon styling */
      .nav-icons {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease, color 0.2s ease;
      }
      
      /* Icon hover effect */
      .nav-icons:hover .icon {
        color: #F7A01E; /* Change color on hover */
        transform: scale(1.1); /* Slightly enlarge icon on hover */
      }
      
      /* Icon styling */
      .icon {
        font-size: 1.5rem;
        color: #CED1D3; /* Default color */
        transition: color 0.2s ease; /* Smooth color transition */
      }
      